input[type='file']::file-selector-button{
    background-color: white;
    border: 1px solid #00000025;
    border-radius: 6px;
    padding: .3rem .8rem;
    cursor: pointer;
    transition: all .2s;
}
input[type='file']::file-selector-button:hover{
    background-color: #00000012;
}